#contact_modal {
     display: none; 
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background:white;
    overflow: auto;
    z-index: 1;

}


main{
    width: 100%;
}
#header{
    margin-bottom: 20px;
}

#gallery{
    margin-top: 100px;
}

main .photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: auto;
    border-radius: 5px;
    width: calc(100% - 200px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
main .photograph-header .profil{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 40px;

}

main .photograph-header .contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
main .photograph-header .portrait{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.button-tri{
    width: 120px;
    height: 52.8px;
    background-color: #901C1C;
    font-size: inherit;
    border: none; 
    color: white;
    text-align: start;
    padding-left: 0px;
    padding: 0px 10px;
}  

.menu_tri{
    position: absolute;
    display: flex;
    gap: 1rem;
    margin-left: 90px;
}


.menu_tri .dropdown {
    width: 120px;
    
    background-color: #901C1C;
    font-size: inherit;
    border: none;

    color: white;
    text-align: start;
   
    padding: 0px 10px; 
    border-radius: 5px;
    z-index: 1;
    
}

.menu_tri .dropdown p{    
    background-color: #901C1C;
    border: none;
    color: white;
    text-align: start;
    padding-left: 0px;
    padding: 0px 10px;
    font-size: 18px;
    font-weight: 500;
    z-index: 1;
}

.menu_tri .dropdown .list-option{


    display: flex;
    flex-direction: column;
    display: none;
}
.menu_tri .dropdown .list-option.active{
    display: block;

}


.menu_tri .dropdown .option-tri{
    
    width: 120px;
    height: 52.8px;
    background-color: #901C1C;
    font-size: inherit;
    border: none;
    
    color: white;
    text-align: start;
    padding-left: 0px;
    padding: 0px 10px;
    

}
.menu_tri .dropdown .list-option >div:nth-child(2) button {
    border-top: 1px solid white; 

}
.menu_tri .dropdown .list-option >div:nth-child(3) button {
    border-top: 1px solid white; 
}

.menu_tri .dropdown em{
    z-index: 2;
    font-size: 1em;
    color: white;
    position: absolute;
    top: 19px;
    right: 12px;
}


.photos{
    width: calc(100% - 200px);
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.photos .card img{
    cursor: pointer;
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 50%);
    transition: all 0.2s;
}
.photos .card video{
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    
    height: 300px;
    width: 350px;
    object-fit: cover;
    box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 50%);
    transition: all 0.2s;
    /* z-index: -1; */
}
.card .discription{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.card .discription__like{
    display: flex;
    align-items: center;
    gap: 1rem;
    
} 
.card .discription h3{
    color: #901C1C;
    font-size: 1rem;
}

.discription__like p{
    color: #901C1C;
}

.card .discription__like em{
    color: #901C1C;
    cursor: pointer;
    font-size: 25px;
}

.aside-div{
    width: 300px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    position: fixed;
    bottom: 0px;
    right: 10px;
   justify-content: space-around;
   align-items: center;
    background-color: #c13131;
}
.aside-div .likes{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 25px;
}
/* 
.aside-div .likes em{
    
    font-size: 23px;
    font-weight: 600;
} */
.aside-div p{
    font-size: 25px;
}
.modal {
    display: block;
    top: 10px;
    left: 10px;
    position: relative;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    
}

.modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 180px;
    align-items: self-start;
}

.modal-header img {
    cursor: pointer;
    

}


.modal-header h2 {
    font-size: 40px;
    font-weight: normal;
    display: flex;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 30px;
    padding-top: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea{
    width: 100%;
}

form #submit-button{
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 130px;
    height: 50px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}


.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 99;
    
}

.lightbox:focus {
    outline: none;
}

.lightbox button{
    font-size: 50px;
    border: none;
    background-color: white;
    cursor: pointer;
    color: inherit;
    color: #901C1C;
}

.lightbox .lightbox-left,.lightbox-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
}
.lightbox .lightbox-right .close {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 50%);
}
.lightbox .lightbox-content{
    display: flex;
    justify-content: center;
    padding: 120px 0px;
    font-size: 24px;
}
.lightbox .lightbox-content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 700px;
    align-items: center;
}
.lightbox .lightbox-content div img, 
.lightbox .lightbox-content div video {
    object-fit: cover;
    border-radius: 0.3em;
    max-height: 100%;
    max-width: 100%;
}
.lightbox .lightbox-content div p {
    position: relative;
    top: 10px;
    color: #901C1C;
}



 
